<h1>イベント一覧</h1>

<table class="event">
<thead>
	<tr>
		<th width="200px">イベント日時</th>
		<th width="100px">デバイス</th>
		<th width="100px">ユーザー名</th>
		<th width="100px">タイプ</th>
		<th width="120px">ロック解除方法</th>
		<th width="100px">PINコード</th>
	</tr>
	
	<% @events.each do |event| %>
	<tr>
		<td><%= event.eventtime %></td>
		<td><%= event.device %></td>
		<td><%= event.user %></td>
		<td><%= event.eventtype %></td>
		<td><%= event.eventmethod %></td>
		<td><%= event.pincode %></td>
	</tr>
	<% end %>
</thead>
