<!DOCTYPE html>
<html>
<head>
  <title>Democonnect</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'templete/menu.html.erb' %>
<%= yield %>

<p>2022</p>
</body>
</html>
